<div ng-include="'components/navbar/navbar.html'"></div>

<div class=" container">

<div class="col-md-12">
    <div ng-controller="CarouselDemoCtrl">
        <div style="height: 500px; align-content: inherit;"">
            <carousel interval="myInterval">
                <slide ng-repeat="slide in movies" active="slide.active">
                  <img style="height:500px" ng-src="{{slide.imageUrl}}" style="margin:auto;">
                  <h2>{{slide.title}}</h2> 
                    <div class="carousel-caption">
                        <h4>Slide {{$index}}</h4>
                        <p>{{slide.thumbnail}}</p>
                    </div>
                </slide>
            </carousel>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-info" ng-click="addSlide()">+Movie</button>
                <ul>
                    <li ng-repeat="movie in possibleMovies.movies"></li>
                </ul>
            </div>
            <div class="col-md-6">
               
            </div>
        </div>
    </div>
    <div>
       

    </div>

</div>

</div>
