 .possible-movies{
 display: inline-block;
 width: 200px;
 height:300px;
 background-size:cover;
 padding-bottom: 300px;
 background-position: 0 0 no-repeat;
 

}
.moviesContainer {
 max-width: 90%;
 margin:5% auto;
}
.movietitles {
 color:white;
 font-weight: bold;
 font-size: .9em;
 margin-left: 0 0 0 5% ;
}