
<div class="movieContainer" ng-include="'components/navbar/navbar.html'"></div>


<div class="col-md-12">
    
    <form ng-submit="saveMovie()">
        <input class="form-control"type="text" placeholder="Title" ng-model="newMovie.title" />
        <input class="form-control"type="text" placeholder="Genre" ng-model="newMovie.genre" />
        <input class="form-control"type="text" placeholder="Description" ng-model="newMovie.description" />
        <input class="form-control"type="text" placeholder="Rating" ng-model="newMovie.rating" />
        <input class="form-control"type="text" placeholder="Year maked" ng-model="newMovie.yearmaked" />
        <button type="submit" >Submit</button>

    </form>
   <!--<p> {{possibleMovies}}</p>--> 


   
    
    <input ng-submit="movie.posters.thumbnail" ng-model="movieName" />
    <button ng-click="searchmovies()">search</button>
    <div ng-repeat="movie in possibleMovies.movies"><img ng-src="{{movie.posters.thumbnail}}"  /></div>
    
    
</div>
 

